/* Google Font Import */
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap';
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  transition: all 0.4s ease;
  scroll-behavior: smooth;
}

.sectionnav {
  font-family: Poppins, sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  background-color: #fff;
}

.nav-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  padding: 0 30px;
  margin: 0 auto;
  background-color: var(--nav-color);
}
.nav-bar .sidebaropen {
  display: none;
  padding: 5px;
  font-size: 25px;
  color: var(--text-color);
  cursor: pointer;
}
.nav-bar .logo a {
  font-size: 25px;
  font-weight: 100;
  color: var(--text-color);
  text-decoration: none;
}
.nav-bar .navlogo img {
  display: block;
  width: 80px;
  height: auto;
  border-radius: 1.25rem;
}
.nav-bar .nav-links {
  display: flex;
  align-items: center;
}
.nav-bar .nav-links li {
  position: relative;
  margin: 0 5px;
  list-style: none;
}
.nav-bar .nav-links li a {
  position: relative;
  padding: 10px;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.nav-bar .nav-links li a:hover {
  color: var(--hover-text-color);
  background-color: var(--hover-bg-color);
}
.nav-bar .nav-links li a::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 6px;
  height: 6px;
  content: "";
  background-color: var(--text-color);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
.nav-bar .nav-links li a:hover::before {
  opacity: 1;
}
.nav-bar .nav-links li .dropdown {
  position: absolute;
  top: 190%;
  left: 0;
  z-index: 99;
  display: none;
  overflow: hidden;
  background-color: oklab(50% 0 0);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.nav-bar .nav-links li .dropdown li {
  width: 200px;
}
.nav-bar .nav-links li .dropdown li a {
  display: block;
  padding: 10px 15px;
  color: var(--text-color);
}
.nav-bar .nav-links li .dropdown li a:hover {
  color: var(--hover-text-color);
  background-color: var(--hover-bg-color);
}
.nav-bar .nav-links li:hover .dropdown {
  display: block;
}

.navside-searchbox {
  display: flex;
  align-items: center;
}
.navside-searchbox .searchtoggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 5px;
}
.navside-searchbox .searchtoggle i {
  position: absolute;
  font-size: 22px;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.3s ease;
}
.navside-searchbox .searchtoggle i.cancel {
  pointer-events: none;
  opacity: 0;
}
.navside-searchbox .searchtoggle i.active.cancel {
  pointer-events: auto;
  opacity: 1;
}
.navside-searchbox .searchtoggle i.active.search {
  pointer-events: none;
  opacity: 0;
}
.navside-searchbox .searchbox {
  position: relative;
}
.navside-searchbox .searchbox .search-field {
  position: absolute;
  right: 5px;
  bottom: -85px;
  display: flex;
  align-items: center;
  width: 300px;
  height: 50px;
  padding: 3px;
  pointer-events: none;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 0.3s ease;
}
.navside-searchbox .searchbox .search-field::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 6px;
  height: 6px;
  content: "";
  background-color: var(--text-color);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
.navside-searchbox .searchbox .search-field input {
  width: 100%;
  height: 100%;
  padding: 0 45px 0 15px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
  border: none;
  border-radius: 4px;
  outline: none;
}
.navside-searchbox .searchbox .search-field i {
  position: absolute;
  right: 15px;
  font-size: 22px;
  color: var(--nav-color);
  cursor: pointer;
}
.navside-searchbox .searchbox .searchtoggle.active ~ .search-field {
  bottom: -74px;
  pointer-events: auto;
  opacity: 1;
}

@media (width <= 790px) {
  .nav-bar .sidebaropen {
    display: block;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    width: 320px;
    height: 100%;
    padding: 20px;
    color: #fff;
    background-color: #000;
    transition: all 0.4s ease;
  }
  .menu a {
    color: #fff;
  }
  .menu .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }
  .menu .nav-links li {
    width: 100%;
  }
  .menu .nav-links li a {
    display: block;
    margin-top: 20px;
  }
  .menu .nav-links li .dropdown {
    position: static;
  }
  .menu .nav-links li .dropdown li {
    width: 100%;
  }
  .menu .nav-links li .dropdown li a {
    padding: 10px 15px;
  }
  nav.active .menu {
    left: 0;
  }
  nav.active .nav-bar .navlogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }
  .logo-toggle .siderbarclose {
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;
  }
  .searchtoggle,
  .search-field i {
    font-size: 18px;
  }
}
.home {
  position: relative;
  width: 100%;
  max-width: auto;
  margin: 0 auto;
  overflow: hidden;
}
.home .content {
  position: absolute;
  bottom: 5rem;
  left: 10rem;
  z-index: 2;
  color: #fff;
}
.home .content h3 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.home .content h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.home .content p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}
.home .content .homebtn {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.home .content .homebtn:hover {
  background-color: #444;
}
.home .img {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.home .img img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.5);
}
@media (width <= 1200px) {
  .home .content h3 {
    font-size: 1.8rem;
  }
  .home .content h2 {
    font-size: 2.2rem;
  }
  .home .content p {
    font-size: 0.9rem;
  }
}
@media (width <= 600px) {
  .home .content h3 {
    font-size: 1.2rem;
  }
  .home .content h2 {
    font-size: 1.6rem;
  }
  .home .content p {
    font-size: 0.6rem;
  }
  .home .content .homebtn {
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
  }
}

.text-center {
  margin-inline: 8.75rem;
}

.containersl {
  width: 90%;
  margin: 0 auto;
}
.containersl .swiper.tranding-slider {
  position: relative;
  width: 100%;
}
.containersl .swiper.tranding-slider .swiper-wrapper {
  display: flex;
}
.containersl .swiper.tranding-slider .swiper-slide.tranding-slide {
  position: relative;
  flex-shrink: 0;
  width: 100%;
}
.containersl .swiper.tranding-slider .swiper-slide.tranding-slide .tranding-slide-img img {
  display: block;
  width: 100%;
  height: auto;
}
.containersl .swiper.tranding-slider .swiper-slide.tranding-slide .tranding-slide-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  padding: 10px;
  color: #000;
}
.containersl .swiper.tranding-slider .swiper-slide.tranding-slide .tranding-slide-content .shoes-price {
  font-size: 1.5rem;
  font-weight: bold;
}
.containersl .swiper.tranding-slider .swiper-slide.tranding-slide .tranding-slide-content .tranding-slide-content-bottom .shoes-name {
  font-size: 1.2rem;
}
.containersl .swiper.tranding-slider .tranding-slider-control {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-50%);
}
.containersl .swiper.tranding-slider .tranding-slider-control .slider-arrow {
  padding: 10px;
  color: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.containersl .swiper.tranding-slider .tranding-slider-control .slider-arrow ion-icon {
  font-size: 1.5rem;
}
.containersl .swiper.tranding-slider .swiper-pagination {
  position: absolute;
  bottom: 10px;
  z-index: 10;
  width: 100%;
  text-align: center;
}
.containersl .swiper.tranding-slider .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.7;
}
.containersl .swiper.tranding-slider .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

.containersl::-webkit-scrollbar {
  width: 0;
}

#video1 {
  position: relative;
  width: 100%;
  max-width: auto;
  height: 100%;
  padding-inline: 5rem;
  background-color: #000;
}

.sectionvidio {
  position: relative;
  width: auto;
  padding-bottom: 40px;
  margin: 0 auto;
}
.sectionvidio .contentvideo {
  position: relative;
}
.sectionvidio .contentvideo h2,
.sectionvidio .contentvideo h3 {
  position: absolute;
  z-index: 1;
  color: white;
}
.sectionvidio .contentvideo .videobtn {
  position: absolute;
  top: 600px;
  left: 160px;
  z-index: 1;
  display: inline-block;
  padding: 10px 20px;
  padding: 0.5rem 1rem;
  color: #000;
  text-decoration: none;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  background: #fff;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.sectionvidio .contentvideo h2 {
  top: 555px;
  left: 160px;
}
.sectionvidio .contentvideo h3 {
  top: 490px;
  left: 160px;
}
.sectionvidio .contentvideo iframe {
  position: relative;
  z-index: 0;
  display: block;
}
.sectionvidio .contentvideo:hover {
  background-color: #444;
}

.section__history {
  display: flex;
  justify-content: space-around;
  padding-block: 30px;
  padding-inline: 120px;
  background-color: antiquewhite;
}
.section__history .grid-item {
  flex: 1;
  max-width: 100%;
  padding: 20px;
}
.section__history .grid-item:last-child {
  margin-left: 20px;
}
.section__history .grid-item h1 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.section-title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 2.25rem;
}

.product-box {
  position: relative;
}

.product-box:hover {
  padding: 0.625rem;
  border: 1px solid var(--text-color);
  transition: 0.4s;
}

.product-img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.product-title {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.price {
  font-weight: 500;
}

.join {
  padding: 2.5rem;
  text-align: center;
  background-color: #ede735;
}

.footer {
  justify-content: center;
  max-width: 1948px;
  padding-inline: 1.25rem;
  margin-inline: 100px;
  margin-top: 96px;
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 254px);
  gap: 3rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  max-width: 1160px;
  margin-inline: 160px;
  margin-top: 5rem;
}
.footer__grid--text {
  max-width: 254px;
  text-align: justify;
}
.footer__grid--text--14px {
  margin-bottom: 8px;
  font-size: 0.875rem;
  font-weight: bold;
}
.footer__grid--text--16px {
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 500;
}
.footer__item {
  display: grid;
  gap: 12px 0.75rem;
  justify-content: space-between;
  max-width: 72.5rem;
  margin-block: 50px 30px;
  margin-inline: auto;
}
.footer__item--sns {
  display: flex;
  justify-content: space-between;
  max-width: auto;
}
.footer__item--sns--logo {
  display: block;
  max-width: 100%;
}
.footer__item--sns--logo > a > img {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}

.last {
  padding-block: 40px 80px;
  color: oklch(70% 0 0deg);
  background-color: #000;
}
.last__text {
  text-align: center;
}